@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.7em;
  background-color: #062924;
  /* background-color: #1c1d25; */
  color: white;
  overflow-x: hidden;
}

.btn {
  position: absolute;
  right: 10%;
  display: none;
}

.container .hero-image img {
  width: 100%;
  margin-right: 200px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.work-image img {
  width: 100%;
}

.contact img {
  width: 50px;
}

.container {
  width: 70%;
  max-width: 1080px;
  margin: 0 auto;
  /* padding: 0 50px; */
  /* border: 2px red solid; */
}

.link2 img {
  width: 40px;
  margin-top: 20px;
  margin-left: 30px;
}

.leo {
  color: teal;
  color: aquamarine;
}

.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container header ul {
  display: flex;
  list-style-type: none;
}

.container header a {
  text-decoration: none;
  padding-right: 50px;
  font-size: 20px;
  color: #ccd6f6;
  display: inline-block;
}

.container header a::after {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  /* border: 1px black dotted; */
  opacity: 0;
  transition: all 0.5s;
}

.container header a:hover::after {
  width: 100%;
  opacity: 1;
  background-color: #ccd6f6;
  border-radius: 10px;
}

.container a:hover {
  color: aquamarine;
}

/* header {
  border: 2px red solid;
} */

header {
  margin-bottom: 50px;
  height: 100%;
}

.container .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin-top: -100px;
}

.container .hero h1 {
  color: rgb(19, 59, 79);
  font-size: 50px;
  margin-bottom: 15px;
}

.container .hero h2 {
  color: #ccd6f6;
  /* color: #8690ae; */
  /* color: darkgray; */
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 20px;
}

.container .hero p {
  /* color: #333; */
  /* color: white; */
  /* width: 500px; */
  width: 70%;
}

/* .container .hero{
    border: 2px red solid;
} */

.container .work {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 100px;
  height: 60vh;
}

.container .work img {
  border-radius: 20px;
}

.container .work p {
  width: 80%;
}

.container .work h1 {
  position: relative;
  top: -50px;
  color: #ccd6f6;
}

.container .work h3 {
  margin-bottom: 10px;
}

.about-work,
.work-image {
  margin-top: 50px;
}

/* .container .work{
    border: 2px red solid;
} */

.tech {
  margin-top: 20px;
}

.container .work ul {
  list-style-type: none;
  margin-top: 8px;
  color: cadetblue;
  padding-left: 10px;
}

.container .contact {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  height: 60vh;
}

.container .contact ul {
  list-style-type: none;
  text-align: center;
  margin: 20px 0;
}

.container .contact ul li {
  padding-bottom: 20px;
}

.contact h1 {
  color: #ccd6f6;
}

/* .container .contact{
    border: 2px red solid;
} */

footer {
  text-align: center;
  padding: 16px 14px;
  color: cadetblue;
}

@media (max-width: 868px) {
  .hero-image img {
    margin-top: 90px;
  }

  .work-image img {
    margin-top: 50px;
  }

  .container .hero p {
    width: 90%;
  }

  .container {
    width: 100%;
  }

  .container .hero {
    text-align: center;
  }

  .container .hero p {
    margin-left: 10px;
    margin-right: auto;
  }
  .link2 {
    margin-right: 60px;
  }

  .container .about-work h1 {
    text-align: center;
  }
  .container .about-work h3,
  p,
  .tech,
  ul li {
    padding-left: 20px;
  }

  .container .contact {
    display: block;
    height: 100%;
  }

  /* .btn {
    display: block;
  } */
}

@media (max-width: 810px) {
  .hero-image img {
    display: none;
  }

  /* .btn{
    display: block;
  } */
}

@media (max-width: 768px) {
  .container header ul {
    display: none;
    /* put your hamburger here */
  }

  .work-image img {
    display: none;
  }

  .btn {
    display: block;
  }
}

@media (max-width: 768px) {
  .about-work {
    margin-top: -30px;
  }
}
